### Resources:
- [Data School - Export](https://www.youtube.com/watch?v=ylRlGCtAtiE&index=22&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y)

In [4]:
import pandas as pd

# Import

### = read_csv()...

In [30]:
titanic = pd.read_csv('http://bit.ly/kaggletest')
titanic.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### = read_pickle()...

In [ ]:
pd.read_pickle('train.pkl')

# Export

In [20]:
fare = titanic.loc[:, 'Fare']
sex = titanic.loc[:, 'Sex']
sex.head()

0      male
1    female
2      male
3      male
4    female
Name: Sex, dtype: object

### = to_csv()...

In [24]:
export = pd.DataFrame({'sex':sex, 'fare':fare})
export.to_csv('sub.csv')
export.head()

      fare     sex
0   7.8292    male
1   7.0000  female
2   9.6875    male
3   8.6625    male
4  12.2875  female

### = to_pickle()...

In [29]:
export.to_pickle('train.pkl')