### Resources:
- [loc & iloc](https://www.youtube.com/watch?v=xvpNA7bC8cs&index=19&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y)

# Selecting
- loc works on labels in the index.
- iloc works on the positions in the index (so it only takes integers).
- ix usually tries to behave like loc but falls back to behaving like iloc if the label is not in the index.

In [4]:
import pandas as pd

In [5]:
# read a dataset of UFO reports into a DataFrame
ufo = pd.read_csv('http://bit.ly/uforeports')
ufo.head(3)

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

### = loc...
The [**`loc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html) method is used to select rows and columns by **label**. You can pass it:

- A single label
- A list of labels
- A slice of labels
- A boolean Series
- A colon (which indicates "all labels")

In [ ]:
# row 0, all columns
ufo.loc[0, :]

In [ ]:
# rows 0 and 1 and 2, all columns
ufo.loc[[0, 1, 2], :]

- Noice how the counting does not exclude the last number in the the way Python handels slices
- Inclusive on both sides

In [6]:
# NOTEWORTHY ufo.loc[0:2]
# this implies "all columns", but explicitly stating "all columns" is better

# rows 0 through 2 (inclusive), all columns
ufo.loc[0:2, :]

          City Colors Reported Shape Reported State             Time
0       Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1  Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2      Holyoke             NaN           OVAL    CO  2/15/1931 14:00

In [7]:
# rows 0 through 2 (inclusive), columns 'City' and 'State'
ufo.loc[0:2, ['City', 'State']]

          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

In [8]:
# rows 0 through 2 (inclusive), columns 'City' through 'State' (inclusive)
ufo.loc[0:2, 'City':'State']

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

In [9]:
# accomplish the same thing using 'head' and 'drop'
ufo.head(3).drop('Time', axis=1)

          City Colors Reported Shape Reported State
0       Ithaca             NaN       TRIANGLE    NY
1  Willingboro             NaN          OTHER    NJ
2      Holyoke             NaN           OVAL    CO

### = Multiple Queries...

In [10]:
# rows in which the 'City' is 'Oakland', column 'State'
ufo.loc[ufo.City=='Oakland', 'State']

1694     CA
2144     CA
4686     MD
7293     CA
8488     CA
8768     CA
10816    OR
10948    CA
11045    CA
12322    CA
12941    CA
16803    MD
17322    CA
Name: State, dtype: object

The [**`iloc`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html) method is used to select rows and columns by **integer position**. You can pass it:

- A single integer position
- A list of integer positions
- A slice of integer positions
- A colon (which indicates "all integer positions")

In [ ]:
# rows in positions 0 and 1, columns in positions 0 and 3
ufo.iloc[[0, 1], [0, 3]]

In [ ]:
# rows in positions 0 through 2 (exclusive), columns in positions 0 through 4 (exclusive)
ufo.iloc[0:2, 0:4]

In [ ]:
# rows in positions 0 through 2 (exclusive), all columns
ufo.iloc[0:2, :]

In [ ]:
# accomplish the same thing - but using 'iloc' is preferred since it's more explicit
ufo[0:2]

In [1]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
# drinks = pd.read_csv('http://bit.ly/drinksbycountry', header=None)
drinks.head()

NameError: name 'pd' is not defined

In [2]:
drinks.loc[drinks['continent'] == 'South America']

NameError: name 'drinks' is not defined

In [3]:
# selection: select a portion of the DataFrame using the index
drinks.loc[23, 'beer_servings']

NameError: name 'drinks' is not defined