# Table of Contents
 <p><div class="lev3 toc-item"><a href="#Resources:" data-toc-modified-id="Resources:-0.0.1"><span class="toc-item-num">0.0.1&nbsp;&nbsp;</span>Resources:</a></div><div class="lev1 toc-item"><a href="#Catagorical-Data" data-toc-modified-id="Catagorical-Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Catagorical Data</a></div><div class="lev1 toc-item"><a href="#Numerical" data-toc-modified-id="Numerical-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Numerical</a></div><div class="lev1 toc-item"><a href="#Casting" data-toc-modified-id="Casting-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Casting</a></div>

### Resources:
- [Data School - Export](https://www.youtube.com/watch?v=ylRlGCtAtiE&index=22&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y)

In [1]:
import pandas as pd

In [2]:
# read a dataset of top-rated IMDb movies into a DataFrame
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
# movies.dtypes
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null int64
actors_list       979 non-null object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.0+ KB

In [4]:
# change the data type of an existing Series
movies['duration'] = movies['duration'].astype(float)
movies.dtypes

star_rating       float64
title              object
content_rating     object
genre              object
duration          float64
actors_list        object
dtype: object

# Catagorical Data

Documentation for [**`describe`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.describe.html)

In [5]:
# By passing the "object" parameter we only see catagorical descriptions
movies.describe(include=[object])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,True Grit,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

Documentation for [**`value_counts`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html)

In [6]:
#movies['genre'].value_counts
movies['genre'].value_counts(normalize=True)

Drama        0.283963
Comedy       0.159346
Action       0.138917
Crime        0.126660
Biography    0.078652
Adventure    0.076609
Animation    0.063330
Horror       0.029622
Mystery      0.016343
Western      0.009193
Sci-Fi       0.005107
Thriller     0.005107
Film-Noir    0.003064
Family       0.002043
History      0.001021
Fantasy      0.001021
Name: genre, dtype: float64

In [7]:
# display the unique values in a new Series
new_series = movies['genre'].unique()
type(new_series)
# len(new_series)

numpy.ndarray

Documentation for [**`crosstab`**](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.crosstab.html)

In [8]:
# compute a cross-tabulation of two Series
pd.crosstab(movies.genre, movies.content_rating)

content_rating,APPROVED,G,GP,NC-17,NOT RATED,PASSED,PG,PG-13,R,TV-MA,UNRATED,X
genre,,,,,,,,,,,,
Action,3,1,1,0,4,1,11,44,67,0,3,0
Adventure,3,2,0,0,5,1,21,23,17,0,2,0
Animation,3,20,0,0,3,0,25,5,5,0,1,0
Biography,1,2,1,0,1,0,6,29,36,0,0,0
Comedy,9,2,1,1,16,3,23,23,73,0,4,1
Crime,6,0,0,1,7,1,6,4,87,0,11,1
Drama,12,3,0,4,24,1,25,55,143,1,9,1
Family,0,1,0,0,0,0,1,0,0,0,0,0
Fantasy,0,0,0,0,0,0,0,0,1,0,0,0
Film-Noir,1,0,0,0,1,0,0,0,0,0,1,0
History,0,0,0,0,0,0,0,0,0,0,1,0
Horror,2,0,0,1,1,0,1,2,16,0,5,1
Mystery,4,1,0,0,1,0,1,2,6,0,1,0
Sci-Fi,1,0,0,0,0,0,0,1,3,0,0,0
Thriller,1,0,0,0,0,0,1,0,3,0,0,0
Western,1,0,0,0,2,0,2,1,3,0,0,0

# Numerical

In [9]:
# By passing the "object" parameter we only see numerical descriptions
movies.describe(include=[float, int])

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

# Casting

In [10]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 979 entries, 0 to 978
Data columns (total 6 columns):
star_rating       979 non-null float64
title             979 non-null object
content_rating    976 non-null object
genre             979 non-null object
duration          979 non-null float64
actors_list       979 non-null object
dtypes: float64(2), object(4)
memory usage: 46.0+ KB

In [23]:
floating_movies = movies['duration'].astype('float32') 
floating_movies.head()

0    142.0
1    175.0
2    200.0
3    152.0
4    154.0
Name: duration, dtype: float32