In [16]:
import pandas as pd
import numpy as np

### = Observation Counts...

In [17]:
df = pd.DataFrame()
df['x'] = [1.7,2.76,2.09,3.19,1.694,1.573,3.366,2.596,2.53,1.221, 2.827,3.465,1.65,2.904,2.42,2.94,1.3]
df['y'] = np.asarray([1.7,2.76,2.09,3.19,1.694,1.573,3.366,2.596,2.53,1.221, 2.827,3.465,1.65,2.904,2.42,2.94,1.3])

In [18]:
# REMINDER: .count() will skip all NaN values
# DataFrame.count(axis=0, level=None, numeric_only=False)
df.count()

x    17
y    17
dtype: int64

In [19]:
# Observations count
n_obs = len(df.index)
n_obs

17

### = Decemal Places...

In [75]:
# a dataset of alcohol consumption
drinks = pd.DataFrame(np.random.random([3, 3]),columns=['A', 'B', 'C'], index=['first', 'second', 'third'])
drinks.head()

               A         B         C
first   0.643699  0.514361  0.393854
second  0.144116  0.761328  0.150109
third   0.829687  0.272865  0.202997

In [78]:
n_drinks = drinks.loc[:, 'A':'C']
n_drinks.head()

               A         B         C
first   0.643699  0.514361  0.393854
second  0.144116  0.761328  0.150109
third   0.829687  0.272865  0.202997

In [79]:
import numpy as np

n_drinks = np.round(n_drinks, decimals=3)
n_drinks.head()

            A      B      C
first   0.644  0.514  0.394
second  0.144  0.761  0.150
third   0.830  0.273  0.203