In [1]:
import pandas as pd

In [2]:
# a dataset of alcohol consumption
drinks = pd.read_csv('http://bit.ly/drinksbycountry')
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### = Diff...

In [3]:
# Diff will return the difference between two columns
# drinks = drinks['beer_servings'].diff(periods=1) # This just goes down the column 1 row (periods=1)
drinks_diff = drinks.loc[:, 'beer_servings': 'spirit_servings'].diff(periods=1, axis=1) # Difference between two columns
drinks_diff.head()

   beer_servings  spirit_servings
0            NaN              0.0
1            NaN             43.0
2            NaN            -25.0
3            NaN           -107.0
4            NaN           -160.0

In [15]:
hi = drinks.mean(axis=0, skipna=None)
type(hi)
hi.head()

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64